<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653694064601-5q3d65ann2qoqe0hk293noi0q94vq78b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653694064601-5q3d65ann2qoqe0hk293noi0q94vq78b</string>
	<key>API_KEY</key>
	<string>AIzaSyAUDNwqyPDGlVzFqKF36sePIKcJ3jgV7iY</string>
	<key>GCM_SENDER_ID</key>
	<string>653694064601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cyoa</string>
	<key>PROJECT_ID</key>
	<string>cyoa-fefba</string>
	<key>STORAGE_BUCKET</key>
	<string>cyoa-fefba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653694064601:ios:c524613625fb155ee5abc8</string>
	<key>DATABASE_URL</key>
	<string>https://cyoa-fefba-default-rtdb.firebaseio.com</string>
</dict>
</plist>